/* Main content container */

@layer global {
	@for $i from 1 through 6 {
		article.article > .body {
			h#{$i} {
				position: relative;
				& > a {
					position: absolute;
					--width: 0.75em;
					--left: var(--width);
					top:0;
					left: calc(var(--left) * -1.2);
					width: var(--left);
					height: var(--width);
					display: inline-block;
					// vertical-align: middle;
				}

				& svg {
					visibility: hidden;
				}

				&:hover svg {
					color: var(--color-subtle);
					fill: currentColor;
					width: var(--width);
					height: var(--width);
					visibility: visible;
				}
			}
		}
	}

	// svg.fa,
	// svg.svelte-fa {
	// 	// The normalizer sets all SVGs to blocks,
	// 	// but we don't want that for Font-Awesome icons
	// 	display: inline-block;
	// }

	// NAVIGATION

	@import './hljs';

	summary {
		cursor: pointer;
	}

	details[open] {
		border: 1px solid var(--color-subtle);
		border-radius: var(--border-radius);
		padding: var(--content-padding);
	}

	pre {
		tab-size: 2;
	}
	code {
		font-family: var(--font-family-code);
	}

	p > code {
		color: var(--color-inline-code);
		padding: 0.25em 0.25em;
		margin-inline: 0.1em;
		background-color: var(--color-background-inline-code);
		box-decoration-break: clone;
		-webkit-box-decoration-break: clone;
		border-radius: 0.4em;
		outline: 0.1em solid rgb(60, 60, 60);
	}

	// Override aspects of the Prism theme

	pre > code {
		display: block;
		border: 1px solid var(--color-text);
		margin: calc(var(--size) * 1.25) 0;
		font-size: var(--code-size);
		padding: 0.75em 0.75em;
		overflow-x: auto;
		white-space: pre;
		line-height: 1.3em;
		box-shadow: 0.25em 0.25em 0.25em black;
	}

	// Articles

	article.article > .body,
	article.body {
		--blockquote-margin: calc(var(--size) * 3.5);

		counter-reset: figure;

		img,
		iframe {
			max-width: 100%;
			margin: auto;
		}

		figure {
			border: 1px solid var(--color-text);
			border-radius: var(--border-radius);
			padding: calc(var(--size) * 0.5) calc(var(--size) * 1);
			text-align: center;
		}

		figcaption {
			font-size: calc(var(--size) * 0.9);
			text-align: center;
			font-style: italic;

			&:before {
				counter-increment: figure;
				content: 'Fig. ' counter(figure);
				font-weight: bold;
				margin-right: calc(var(--size) * 0.5);
			}

			p:first-child {
				display: inline;
			}
		}

		// Tables

		table {
			margin-top: calc(var(--size) * 0.5);
			display: inline-table;
			border-spacing: 0;
			max-width: 100%;

			td,
			th {
				padding: calc(var(--size) * 0.1) calc(var(--size) * 0.4);
				outline: 2px solid var(--color-background);
				border-width: 0 2px 0 0;
				border-color: currentColor;
			}

			td {
				outline: none;
				border-bottom: 3px solid var(--color-background);
				padding-top: 0;
				padding-bottom: 0;
			}

			tr:nth-child(even) {
				color: var(--color-subtle);
			}

			td:last-child,
			th:last-child {
				border-right: none;
			}

			th {
				color: var(--color-background);
				background-color: var(--color-text);
				margin: calc(var(--size) * 0.25);
			}
		}

		// Quotes

		blockquote {
			color: var(--color-subtle);
		}

		blockquote p {
			margin: 0 var(--blockquote-margin);
			font-style: italic;
		}

		blockquote p:first-child::before {
			content: '“';
			font-family: Georgia;
			font-size: calc(var(--size) * 6);
			margin-left: calc(var(--blockquote-margin) * -1);
			margin-top: calc(var(--blockquote-margin) * -0.6);
			position: absolute;
			opacity: 0.5;
		}

		// Footnotes

		sup {
			--padding: calc(var(--size) * 0.2);
			padding-left: var(--padding);
			padding-right: var(--padding);
		}

		.footnotes {
			border-top: 1px solid var(--color-subtle);
			padding-top: calc(var(--size) * 1);
			margin-top: calc(var(--size) * 1);
		}
	}
}
