@layer reset,vars,global,lists;
/* Main content container */
#svelte {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: var(--view-padding);
}

@layer global {
	@for $i from 1 through 6 {
		article.article > .body {
			h#{$i} {
				& > a {
					--width: calc(var(--font-size));
					--left: calc(var(--width) * 1.2);
					margin-left: calc(var(--left) * -1);
					width: var(--left);
					height: var(--width);
					display: inline-block;
					vertical-align: middle;
				}

				& svg {
					visibility: hidden;
				}

				&:hover svg {
					color: var(--color-subtle);
					fill: currentColor;
					width: var(--width);
					height: var(--width);
					visibility: visible;
				}
			}
		}
	}

	p,
	figure {
		margin: calc(var(--size) * 0.75) 0 calc(var(--size) * 1) 0;
	}

	a {
		color: var(--color-link);
		text-decoration: none;
	}

	a:hover,
	a:focus {
		color: var(--color-link-hover);
	}

	p a,
	a:hover,
	a:focus {
		text-decoration: underline;
		cursor: pointer;
		text-decoration-color: var(--color-link-underline);
		text-decoration-thickness: calc(var(--size) * 0.1);
		text-underline-offset: calc(var(--size) * 0.1);
	}

	input {
		border: 1px solid var(--color-text);
		border-radius: var(--border-radius);
		background-color: transparent;
		color: var(--color-text);
		padding: var(--button-padding);
		width: 100%;
	}

	// svg.fa,
	// svg.svelte-fa {
	// 	// The normalizer sets all SVGs to blocks,
	// 	// but we don't want that for Font-Awesome icons
	// 	display: inline-block;
	// }

	// NAVIGATION

	@import './hljs';

	summary {
		cursor: pointer;
	}

	details[open] {
		border: 1px solid var(--color-subtle);
		border-radius: var(--border-radius);
		padding: var(--content-padding);
	}

	code:not([class*='language-']) {
		--padding: calc(var(--size) * 0.3);
		color: var(--color-inline-code);
		background-color: var(--color-background-inline-code);
		padding: 0 var(--padding);
		border-radius: var(--padding);
		font-size: 80%;
	}

	// Override aspects of the Prism theme

	pre > code[class*='language-'] {
		display: block;
		border: 1px solid var(--color-text);
		margin: calc(var(--size) * 1.25) 0;
		font-size: var(--code-size);
		padding: var(--content-padding);
		overflow-x: auto;
	}

	// Articles

	article.article > .body,
	article.body {
		--blockquote-margin: calc(var(--size) * 3.5);

		counter-reset: figure;

		img,
		iframe {
			max-width: 100%;
			margin: auto;
		}

		figure {
			border: 1px solid var(--color-text);
			border-radius: var(--border-radius);
			padding: calc(var(--size) * 0.5) calc(var(--size) * 1);
			text-align: center;
		}

		figcaption {
			font-size: calc(var(--size) * 0.9);
			text-align: center;
			font-style: italic;

			&:before {
				counter-increment: figure;
				content: 'Fig. ' counter(figure);
				font-weight: bold;
				margin-right: calc(var(--size) * 0.5);
			}

			p:first-child {
				display: inline;
			}
		}

		// Tables

		table {
			margin-top: calc(var(--size) * 0.5);
			display: inline-table;
			border-spacing: 0;
			max-width: 100%;

			td,
			th {
				padding: calc(var(--size) * 0.1) calc(var(--size) * 0.4);
				outline: 2px solid var(--color-background);
				border-width: 0 2px 0 0;
				border-color: currentColor;
			}

			td {
				outline: none;
				border-bottom: 3px solid var(--color-background);
				padding-top: 0;
				padding-bottom: 0;
			}

			tr:nth-child(even) {
				color: var(--color-subtle);
			}

			td:last-child,
			th:last-child {
				border-right: none;
			}

			th {
				color: var(--color-background);
				background-color: var(--color-text);
				margin: calc(var(--size) * 0.25);
			}
		}

		// Quotes

		blockquote {
			color: var(--color-subtle);
		}

		blockquote p {
			margin: 0 var(--blockquote-margin);
			font-style: italic;
		}

		blockquote p:first-child::before {
			content: '“';
			font-family: Georgia;
			font-size: calc(var(--size) * 6);
			margin-left: calc(var(--blockquote-margin) * -1);
			margin-top: calc(var(--blockquote-margin) * -0.6);
			position: absolute;
			opacity: 0.5;
		}

		// Footnotes

		sup {
			--padding: calc(var(--size) * 0.2);
			padding-left: var(--padding);
			padding-right: var(--padding);
		}

		.footnotes {
			border-top: 1px solid var(--color-subtle);
			padding-top: calc(var(--size) * 1);
			margin-top: calc(var(--size) * 1);
		}
	}
}
