:root {
	/* Colors */
	--color-background: rgb(24, 24, 24);
	--color-text: rgb(225, 232, 208);
	--color-subtle: rgb(155, 155, 155);
	--color-header: rgb(140, 149, 241);
	--color-bad: rgb(255, 34, 104);

	--color-list-marker: var(--color-subtle);

	--color-inline-code: rgb(246, 119, 252);
	--color-background-inline-code: black;

	--color-link: rgb(57, 156, 199);
	--color-link-hover: rgb(83, 207, 207);
	--color-link-underline: var(--color-link);

	/* BASE */
	--size: 20px;
	--code-size: calc(var(--size) * 0.85);
	--content-max-width: 900px;
	--view-padding: calc(var(--size) * 1.5) calc(var(--size) * 2);
	--content-padding: calc(var(--size) * 0.5) calc(var(--size) * 1);
	--border-radius: calc(var(--size) * 0.5);

	/* TEXT */

	--font-family: 'Ubuntu', sans-serif;

	/* HEADERS */
	--font-size-h6: calc(var(--size) * 1);
	--font-size-h5: calc(var(--size) * 1);
	--font-size-h4: calc(var(--size) * 1.1);
	--font-size-h3: calc(var(--size) * 1.2);
	--font-size-h2: calc(var(--size) * 1.3);
	--font-size-h1: calc(var(--size) * 1.7);

	/* INPUTS */
	--button-padding-vertical: 5px;
	--button-padding-horizontal: calc(var(--button-padding-vertical) * 2);
	--button-padding: var(--button-padding-vertical)
		var(--button-padding-horizontal);
}
