/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
/* (thanks to https://css-tricks.com/inclusively-hidden/) */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}
