legacy-peer-deps=true
fund=false
publish-branch=develop
engine-strict=true
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=07D8FE2D-E738-4CEE-97D9-95425F84F8C2
strict-peer-dependencies=false
use-node-version=16.17.1
prefer-workspace-packages=true
save-workspace-protocol=rolling
link-workspace-packages=false
save-prefix=""
