@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=07D8FE2D-E738-4CEE-97D9-95425F84F8C2
auto-install-peers=true
engine-strict=false
fund=false
legacy-peer-deps=true
link-workspace-packages=false
prefer-workspace-packages=true
publish-branch=develop
resolve-peers-from-workspace-root=true
save-prefix=""
save-workspace-protocol=rolling
script-shell=/bin/bash
strict-peer-dependencies=false
use-node-version=20.11.1
