{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "useTabs": true,
  "tabWidth": 2,
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
