# FROM SVELTEKIT

.DS_Store
node_modules
.svelte-kit
build
functions
static/previews
static/blog-metadata.json
static/blog-search.json
static/feeds
static/sitemap.xml
static/blog.*
cypress/videos
cypress/screenshots
static/microdata